<!DOCTYPE html>
<html lang="en">
<head>
    <title>About us</title>
    <link rel="stylesheet" href="../resources/stylesheetForPage1.css" type="text/css" />
</head>

<body>

<% include  partials/header.ejs %>
<% include  partials/section.ejs %>
<% include  partials/leftblock.ejs%>


<main class="rightblock">
    <div>
        <ul class="breadcrumb">
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>


    <img class="mainImageForBackground" src="../resources/swapping-books.jpg" alt="swappingbooks" />
    <p id="paragraph2">Email:bookswapping@uncc.edu<br/>Phone:331-221-6787</p>

    </p>
</main>


<% include partials/footer.ejs %>


</body>
</html>
