<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <link rel="stylesheet" href="../resources/stylesheetForPage1.css" type="text/css"/>
</head>

<body>

<% include partials/header.ejs %>
<% include partials/section.ejs %>
<% include partials/leftblock.ejs %>

<form action="/myItems" method="post">

<main class="rightblock">
    <div>
        <ul class="breadcrumb">
            <h2>Please provide feedback</h2>
        </ul>


    </div>


    <img class="mainImageForBackground" src="../resources/swapping-books.jpg" alt="swappingbooks"/>
    <p id="paragraph2">

        <!--Item Rating:<br/>-->
        <!--<input type="number" name="itemrating"   min="1" max="5" required /><br/>-->

        Item owner rating(Specify Rating from 1-5) :<br/>
        <input type="number" name="ownerrating"  min="1" max="5" required  /><br/>

        <br/>
        <button type="submit" name="submitrating" value="Submit">Submit Rating</button>
    </p><br/>



</main>
</form>

<% include partials/footer.ejs %>

</body>
</html>
