<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
    <link rel="stylesheet" href="../resources/stylesheetForPage1.css" type="text/css"/>
</head>

<body>

<% include partials/header.ejs %>
<% include partials/section.ejs %>
<% include partials/leftblock.ejs %>

<main class="rightblock">
    <div>
        <ul class="breadcrumb">
            <li><a href="Index.ejs">Home</a></li>
        </ul>
    </div>


    <img class="mainImageForBackground" src="../resources/swapping-books.jpg" alt="swappingbooks"/>
    <p id="paragraph2">Welcome to the  Book Swapping portal.You can <br />find books for swapping related to any Category.<br /><br /><br />
    Please check out our new section which has books ranging from Literature to Fiction.
    </p>

</main>

<% include partials/footer.ejs %>

</body>
</html>
