<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thank you</title>
    <link rel="stylesheet" href="../resources/stylesheetForPage1.css" type="text/css"/>
</head>

<body>

<% include partials/header.ejs %>
<% include partials/section.ejs %>
<% include partials/leftblock.ejs %>

<form action="/myItems" method="post">

    <main class="rightblock">
        <div>
            <ul class="breadcrumb">

            </ul>


        </div>


        <img class="mainImageForBackground" src="../resources/swapping-books.jpg" alt="swappingbooks"/>
        <p id="paragraph2">

            Thank you for your feedback.

        </p><br/>



    </main>
</form>

<% include partials/footer.ejs %>

</body>
</html>
