
<html>

<aside class="leftblock">
    <img class="mainImageForBackground" src="../resources/swapping-books.jpg" alt="swappingbooks"/>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/Categories">Categories</a></li>
        <li><a href="#">Store</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</aside>

</html>